@import "../../vars.css";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Ensures the container occupies the full height of the viewport */
  color: var(--color-text);
  background-color: #d0e3e9;
  margin-top: 250px;
  /* margin-bottom: 200px; */
}

.des {
  width: 80%;
  margin-left: 10%;
  margin-right: auto; /* Center the description */
  color: black;
  font-size: 22px;
  font-weight: 400;
  text-align: left; /* Center align text */
  margin-bottom: 20px; /* Add some space below the description */
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  margin-left: 7%;
  margin-right: auto; /* Center the title */
  margin-top: 100px; /* Adjust this value for spacing between the line and title */
}

.line {
  width: 100%;
  border-top: 1px solid var(--color-text);
  margin-left: auto;
  margin-right: auto; /* Center the line */
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.projects > div {
  width: 300px; /* Fixed width for the project cards */
  height: 370px; /* Fixed height for the project cards */
  background-color: #b6bde6;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 1024px) {

  
  .des {
    text-align: left;
    margin-right: 200px;
    width: 80%; /* Adjust width for smaller screens */
    font-size: 18px; /* Adjust font size */
  }

  .title {
    font-size: 30px; /* Adjust font size */
    margin-top: 180px; /* Adjust top margin */
  }

  .line {
    width: 100%; /* Adjust width for smaller screens */
  }

  .projects {
    margin-left: 100px;
    width: 80%; /* Adjust width for smaller screens */
    height: 350px; /* Adjust height */
  }
}

@media (max-width: 480px) {
  .container{
    /* margin-bottom: 150px; */
    height: 2500px;
  }
  .gap{
    margin-bottom: 100px;
  }
  .des {
    width: 85%; /* Adjust width for very small screens */
    font-size: 16px; /* Adjust font size */
    margin-bottom: 70px;

  }

  .title {
    font-size: 25px; /* Adjust font size */
    margin-top: 60px; /* Adjust top margin */
  }

  .line {
    width: 100%; /* Adjust width for very small screens */
  }
  .projects {
    margin-top: 100px;
    padding-bottom: 250px;
  }
  .projects > div {
    margin-top: -75px;
    width: 100%; /* Full width for project cards */
    height: auto; /* Auto height */
    /* margin-bottom: 100px; */
    margin-right: 120px;

  }
}
