@import "../../vars.css";

.container {
  color: var(--color-text);
  height: auto; /* Adjust height to auto for better responsiveness */
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 100px;
  margin-left: 7%;
  text-transform: uppercase;
  position: relative; /* Add this to position the pseudo-element */
}

.line {
  width: 100%;
  border-top: 1px solid var(--color-text); /* Adjust the color and thickness of the line */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 60%; /* Full width to adjust on smaller screens */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100px; /* Adjust width for responsiveness */
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Adjust width for responsiveness */
  height: 70px; /* Adjust height for responsiveness */
}

.skillImageContainer img {
  width: 30px; /* Adjust image size for responsiveness */
}

.skill p {
  font-size: 16px; /* Adjust font size for responsiveness */
  font-family: var(--font-roboto);
  font-weight: 500;
  margin-top: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  
  .title {
    font-size: 30px; /* Adjust title font size for smaller screens */
  }

  .skill {
    width: 95px; /* Adjust width for smaller screens */
  }

  .skillImageContainer {
    width: 70px; /* Adjust width for smaller screens */
    height: 70px; /* Adjust height for smaller screens */
  }

  .skillImageContainer img {
    width: 35px; /* Adjust image size for smaller screens */
  }

  .skill p {
    font-size: 24px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .container{
    margin-bottom: -50%;
    width: 100%;
  }
  .title {
    font-size: 24px; /* Further adjust title font size for very small screens */
  }

  .skill {
    width: 50px; /* Further adjust width for very small screens */
  }

  .skillImageContainer {
    width: 50px; /* Further adjust width for very small screens */
    height: 50px; /* Further adjust height for very small screens */
  }

  .skillImageContainer img {
    width: 20px; /* Further adjust image size for very small screens */
  }

  .skill p {
    font-size: 12px; /* Further adjust font size for very small screens */
  }
}
