@import "./vars.css";

.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100vh; /* Use 100vh to ensure full viewport height */
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: auto; /* Allow vertical scrolling if needed */
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
